{% extends "../layout.html" %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Email Sent</title>
{% endblock %}


{% block body %}

      <!--Password Reset Complete-->
      <div class="container p-4">
	    <h2 class="font-weight-bold mt-3">Email Sent For Verification</h2>
		<hr>
        <p>An email has been sent to you for verification, check your inbox and follow the link.
            <br>
            <em>Note: you won't be able to login till your email is verified</em>.</p>                 
    </div> 
{% endblock %}
