    <div style="background-color:rgb(110,3,211);border-radius:15px">
        <h1 style="text-align:center;padding:2px;color:white">
            Account Activation
        </h1>
    </div>

    <h2 style="text-align:center">E-mail Confirmation</h2> 
    <hr style="background-color:rgb(110,3,211);width:100px">

    <div style="margin-top:20px;line-height:1.5">
        <p style="text-align:center;font-weight:bold">Greetings!</p>
        Thanks for signing to brookeshcol.com
        Please click on the link below to confirm the email and activate your account. 
        You won't be able to login without verifying your account.      
    </div>

    <p style="text-align:center;margin-top:50px">
        Please verify your e-mail :
        </p><hr style="background-color:rgb(110,3,211);width:50px">
        <div style="text-align:center;margin-top:30px">
            <a href="{{link}}">Verify</a>
        </div>
        
    <p></p>

    <p style="margin-top:50px">
       <b> You'll be joining us right after the verification !</b>
    </p>

    <p style="line-height:1.5">
        <b>Thanks for joining! <br> This mail machine generated. <br>Do not reply to this mail </b>
    </p><div class="yj6qo"></div><div class="adL">
    
    <style>
        a{
            padding: 10px;
            padding-left: 35px;
            padding-right: 35px;
            color: white;
            background-color: rgb(110,3,211);
        }
    </style>