{% extends "layout.html" %}

{% block head %}
    {% load socialaccount %}
    {% load static %}

    <title>Login|Brookee-Shcol</title>

    <link rel="stylesheet" href="../static/css/signup.css">

{% endblock head %}
    
{% block body %}



    <main class="row">
        <div class="col-12 col-md mx-md-4 vh-md-100 d-flex flex-column justify-content-center">
            <div>
                <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <img class="mx-auto" src="../static/assets/img/brooke-eschol-square-logo.png" alt="" width="120px" height="100px">
                    <p class="text-center create-account-text">Sign in</p>
                </div>
                    
                <form class="mx-5" action="#" method="POST" role="form">
                    {% csrf_token %}

                    {% for field in form %}

                        <div class="form-wrapper form-group ">
                            {{ field }}
                        </div>

                    {% endfor %}
                   
                    
                   <div class="form-wrapper">
                        <button type="submit" id="signup-btn" class="btn btn-primary bg-primary w-100">Sign in</button>
                   </div>
                </form>

                <div class="or text-center" style="margin-top: 16px; margin-bottom: 16px;">-or-</div>


                <div class="text-center d-flex justify-content-center">
                    <div class="icon-container border rounded">
                       <a href="{% provider_login_url 'google' %}"><img src="../static/assets/img/google-icon.png" alt=""></a>
                    </div>
                    <div class="icon-container border rounded">
                        <a href="{% provider_login_url 'facebook' method='oauth2' %}"><img src="../static/assets/img/facebook-icon.png" alt=""></a>
                    </div>
                    <div class="icon-container border rounded">
                        <img src="../static/assets/img/apple-icon.png" alt="">
                    </div>
                </div>

                <p class="text-center" style="margin-top: 17px;">
                    Don't have an account? <a class="fw-bolder text-decoration-none text-dark underline" href="{% url 'register' %}">Sign up</a>
                </p>
            </div>
                
        </div>
        <div class="col-12 col-md bg-primary vh-100 w-100 d-none d-md-flex align-items-center justify-content-center">
            <div class="mx-5">
                <img class="" src="../static/assets/img/red-quote.png" alt="" width="47" height="57">
                <h4 class="skill-never-expires-text text-white display-1 border-bottom">Skill Never Expires</h4>
                <p class="text-light">Knowledge is not a skill, <br>
                    knowledge plus ten thousand times is a skill</p>
            </div>
        </div>
    </main>

    
{% endblock body %}