<footer>

    <section>

        <div class="bg-primary">

            <div class="container text-white">

                <div class="row mx-auto mx-md-initail ">

                    <div class="col-md-3 text-center text-md-start mb-3">
                        <form method="post" action="{% url 'newsub' %}">
                            {% csrf_token %}
                            <h5 class="footer-header">Our Newsletter</h5>
                            <p>Subscribe to our newsletter</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter" class="visually-hidden">Email address</label>
                                <input id="newsletter" type="email"  name="email"  class="form-control rounded-0 text-light mt-0" placeholder="">
                                <button class="btn btn-danger bg-danger rounded-0  border-0"\ type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 col-md-2 text-center text-md-start mb-3">
                        <h5 class="footer-header">Company</h5>
                        <ul class="nav flex-column footer-header-content">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">About Us</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Privacy Policy</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Terms and
                                    conditions</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-2 text-center text-md-start mb-3">
                        <h5 class="footer-header">Services</h5>
                        <ul class="nav flex-column footer-header-content">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Online Courses</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Trainings</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Projects</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Membership Package</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-2 text-center text-md-start mb-3">
                        <h5 class="footer-header">Contact</h5>
                        <ul class="nav flex-column footer-header-content">
                            <li class="nav-item mb-2"><a href="{% url 'services' %}" class="nav-link p-0 text-white ">Our Services</a></li>
                            <li class="nav-item mb-2"><a href="tel:+2347054999071" class="nav-link p-0 text-white ">Contact Us</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">FAQs</a></li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white ">
                                    Address: Uniport Mall
                                    Abuja Park, University of
                                    Port Harcourt, Nigeria
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div id="follow-section" class="col-md-2 mb-3 text-center text-md-start">
                        <h5 class="footer-header">Follow us</h5>
                        <ul class="nav justify-content-between list-unstyled d-flex">
                            <li class=""><a class="" href="https://www.facebook.com/brookeeshcolsystems"><img
                                        src="../static/assets/img/follow-icon/facebook-logo.png" alt=""></a></li>
                            <li class=""><a class="https://instagram.com" href="#"><img
                                        src="../static/assets/img/follow-icon/instagram-logo.jpg" alt=""></a></li>
                            <li class=""><a class="" href="https://www.linkedin.com/in/brooke-eshcol-systems-5731ba242/"><img
                                        src="../static/assets/img/follow-icon/linkedin-icon.png" alt=""></a></li>
                            <li class=""><a class="" href="https://twitter.com/BrookeEshcol"><img
                                        src="../static/assets/img/follow-icon/twitter-logo.jpg" alt=""></a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <hr class="p-0 m-0 bg-white text-white">

        <div id="copyright-claim-section" class="bg-primary text-white">
            <p class="text-center mb-0">Copyright 2022 <img src="../static/assets/img/follow-icon/noun-copyright-img.png" alt=""> Brooke-eshcol System Limited</p>
        </div>
    </section>

</footer>